<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsão Tempo</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsão Tempo - <strong> SÃO PAULO/SP</strong></h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia Semana</th>
						<th>Data Hora</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Temp Máx</th>
						<th>Temp Min</th>
						<th>Humidade Ar</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="periodo : ${periodos}">
						<td th:text="${periodo.dia}"></td>
						<td th:text="${periodo.data_hora}"></td>
						<td th:text="${periodo.latitude}"></td>
						<td th:text="${periodo.longitude}"></td>
						<td th:text="${periodo.temp_max}"></td>
						<td th:text="${periodo.temp_min}"></td>
						<td th:text="${periodo.humidade_ar}"></td>
						<td th:text="${periodo.descricao}"></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</body>